/*  your css code here. If applicable */
.pragraph-1{
	color: #00f;
	background-color:#eee;
	font-family:Arial;
	font:2px;
}
.pragraph-2{
	color: #00f;
	background-color:#eee;
	font-family:Arial;
	font:2px;
}